@font-face {
    font-family: 'support';
    src: url(../font/support.ttf);
}

body,a,img{
    padding:0;
    margin:0;
}

body {
    margin: 0px auto;
    background-color: #FFF;
    text-align: center;
}

#content {
    position: relative;
    margin: 0px auto;
    text-align: center;
    width: 1024px;
    height: 768px;
    background-image: url('../material/wood.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


#title_en {
    color:  #9c453d;
    font-size: 60px;
    font-weight: 700;
    text-shadow: #ffe5e5 0.1em 0.1em 0.2em;
}

#word {
    color: black;
    font-weight: 900;
    font-size: 55px;
    margin: 10px;
}

#info{
    color: black;
    font-weight: 900;
}
#partOfSpeech {
    font-size: 20px;
    margin: 10px;
}
#definition{
    font-family: 'support';
    font-size: 30px;
}
#standard_sound{
    width: 70px;
    z-index: 1;
    height: auto;
}
#sound{
    width: 70px;
    z-index: 1;
    height: auto;
}

#record,#stop,#sound,#next_btn,#standard_sound:hover{
    transition: .7s;
    transform: scale(1.2); 
}

.title {
    padding-top: 60px;
}

#vocabulary {
    background-color: white;
    width: 45%;
    margin: 20px auto;
    height: 250px;
    margin-top: 90px;
    border-radius: 20px;
    border: 5px solid gray;
    display: block;
}

#part_speech {
    color: black;
    font-weight: 900;
    font-size: 30px;
    margin: 10px;
}

#record {
    width:170px;
    margin-top:30px;
    margin-right:10px;
    display: none;
}

#stop {
    width:170px;
    margin-top:30px;
    margin-left:30px;
    display: none;
}

.voice {
    width: 287px;
}

#voice_zone {
    background-color: #FFF;
    border: 6px solid #FFBF1D;
    border-radius: 20px;
    width: 90%;
    margin-top: 10px;
    margin: auto;
    padding: 10px 10px 10px 10px;
    display: none;
}

#voice_zone_1,#voice_zone_2,#voice_zone_3{
    margin: 5px auto;
    border: 5px dashed gray;
    border-radius: 20px;
    width: 290px;
    height: 82px;
    display: inline-block;
}

#click_zone {
    margin: 0 auto;
    margin-top: 25px;
    display: none;
}

#next_btn {
    width: 200px;
}

#audio_zone {
    display: none;
}

#recordingslist {
    display: none;
}

#voice_1 {
    visibility: hidden;
}
#voice_2 {
    visibility:hidden;
}
#voice_3 {
    visibility:hidden;
}

#spell_zone {
    background-color: white;
    width: 45%;
    margin: 20px auto;
    height: 300px;
    margin-top: 90px;
    border-radius: 20px;
    border: 5px solid gray;
    display: inline-block;
    position: relative;
    display: none;
}

#hint {
    position: absolute;
    top: -35px;
    left: -35px;
    width: 70px;
    z-index: 1;
    height: auto;
}

#spell_sound {
    position: absolute;
    top: -35px;
    right: -35px;
    width: 70px;
    z-index: 1;
    height: auto;
}

#spell_title {
    font-weight: 800;
    color: #ffb100;
    font-size: 55px;
    text-shadow: black 0.1em 0.1em 0.2em;
    margin-top: 20px;
}

#answer {
    width: 80%;
    height: 50px;
    padding: 5px;
    font-weight: 700;
    font-size: 22px;
    background-color: #FEF4F4;
    margin-top: 30px;
    border: 2px solid #E1E1E1;
    border-radius: 8px;
    color: #B27B7B;
}
#answer:focus{
    border: 2px solid #FFBDBD;
}

#tip {
    font-weight: 700;
    font-size: 22px;
    margin: 10px;
    padding: 10px;
}


#progress {
    margin: 0px auto;
    padding: 0px;
    color: black;
    font-weight: 600;
    font-size: 23px;
    background-color: #DDD;
    height:24px;
    width:100%;
}

#progress_bar {
    text-align: left;
    margin: 0px;
    padding: 0px;
    background-color: #5B9EFF;
    height:24px;
    width:0%;
    transition: 1.5s;
}
