@font-face {
    font-family: 'support';
    src: url(../font/support.ttf);
}

body {
    margin: 0px auto;
    padding: 0px;
    background-color: #FFF;
    text-align: center;
}

#content {
    position: relative;
    margin: 0px auto;
    text-align: center;
    width: 1024px;
    height: 768px;
/*    background-image: url('../material/mountain.png');*/
    background-image: url('../material/playground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#cards_of_collection{
    position: absolute;
    top: 228px;
    left: 54px;
}
.card {
    display: inline-block;
    vertical-align: top;
    margin: 8px;
    border: 10px;
    padding: 10px;
    width: auto;
    height: auto;
    background-color: aquamarine;
}
#earth {
    position: absolute;
    top: 77%;
    left: 48%;
    margin-left: -450px;
    width:140px;
    height:140px;
}
#question {
    position: absolute;
    top: 8%;
    left: 50%;
    margin-left: 330px;
    width:130px;
    height:130px;
}
.picture{
    margin: 10px;
    width: 170px;
    height: 170px;
}
.select {
    width: 140px;
    height:auto;
    margin: 6px;
    padding: 0px;
    float: right;
}

#selections {
    position: absolute;
    right: 0px;
    bottom: 50px;
    margin: 0px auto;
    margin-right: 30px;
    padding: 0px;
    
}

.name {
    font-weight: 800;
    font-size: 30px;
}

.definition {
    font-family: 'support';
    font-weight: 600;
    font-size: 25px;
}

.partOfSpeech {
    font-weight: 600;
    font-size: 20px;
}

.sound {
    width: 50px;
    height: 50px;
}

#word_sound_1 {
    position: absolute;
    top: -25px;
    left: 185px;
}


#word_sound_2 {
    position: absolute;
    top: -25px;
    left: 413px;
}

#word_sound_3 {
    position: absolute;
    top: -25px;
    left: 641px;
}

#word_sound_4 {
    position: absolute;
    top: -25px;
    left: 869px;
}

#stage {
    margin: 0px;
    padding-top: 75px;
    font-weight: 800;
    font-size: 72px;
}



#earth,#question,.sound:hover{
    transition: .7s;
    transform: scale(1.2); 
}