@font-face {
    font-family: 'support';
    src: url(../font/support.ttf);
}

body {
    margin: 0px auto;
    padding: 0px;
    background-color: #FFF;
    text-align: center;
}

#content {
    position: relative;
    margin: 0px auto;
    text-align: center;
    width: 1024px;
    height: 768px;
/*    background-image: url('../material/mountain.png');*/
    background-image: url('../material/wooden_table.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#title {
    color: white;
    text-shadow: black 0.2em 0.2em 0.4em;
    font-size: 60px;
    font-weight: 900;
    margin: 0px;
    padding: 40px;
}

#time {
    color: #516cff;
    font-size: 30px;
    font-weight: 900;
    font-family: 'support';
    float: left;
    width:200px;
    padding-left: 90px;
}

#chance {
    color: darkgreen;
    font-size: 30px;
    font-weight: 900;
    font-family: 'support';
    float: right;
    width:250px;
    padding-right: 50px;
    margin-right: 10px;
}

.number {
    color: crimson;
    font-weight: bolder;
}
#game_zone {
    margin: auto;
    margin-top: 15px;
    background-color: rgb(247,198,198,0.5);
    width: 900px;
    border-radius: 25px;
    border: 6px solid #FFF;
    padding: 20px;
    text-align: center;
}

#picture {
    border-radius: 10px 10px 10px 10px;
    width: 170px;
    height: 170px;
}

#Q_zone {
    background-color: white;
    border: 5px solid white;
    display: inline-block;
    border-radius: 10px;
    vertical-align: middle;
}

#vocabulary {
    background-color: white;
}

#A_zone {
    background-color: #FFDEAD;
    display: inline-block;
    margin: 30px 0px 0px 0px;
    border-radius: 15px;
    vertical-align: middle;
    border: 5px solid white;
}

#input_zone {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: white;
    margin: 0px auto;
    margin-top: 20px;
    height: 58px;
}


#word_sound {
    position: absolute;
    top:120px;
    right: 10px;
    width: 80px;
    z-index: 1;
    
}

#btn_zone {
    background-color: #FFDEAD;
    width: auto;
    height: 70px;
    margin: 0px auto;
    margin-top: 10px;
    border-radius: 15px;
}

.letter{
    background-color: #888888;
    color: white;
    display: inline-block;
    vertical-align: middle;
    margin: 7px;
    width: 25px;
    font-size: 25px;
    height: 28px;
    padding: 7px;
    font-weight: 400;
    border-radius: 10px;
}
.space{
    background-color: white;
    border: 1px dashed black;
    color: white;
    display: inline-block;
    vertical-align: middle;
    margin: 7px;
    width: 25px;
    font-size: 25px;
    height: 28px;
    padding: 6px;
    border-radius: 10px;
}
#confirm {
    background-color: #5599FF;
    color: white;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    padding: 8px;
    margin-top: 23px;
    border: 3px solid white;
}
#confirm:hover{
    transition: 1s;
    border: 3px solid white;
    background-color: white;
    color: #5599FF;
}