@font-face {
    font-family: 'support';
    src: url(../font/support.ttf);
}

body {
    margin: 0px auto;
    padding: 0px;
    background-color: #FFF;
    text-align: center;
}

#content {
    position: relative;
    margin: 0px auto;
    text-align: center;
    width: 1024px;
    height: 768px;
/*    background-image: url('../material/mountain.png');*/
    background-image: url('../material/wooden_table.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#title {
    color: white;
    text-shadow: black 0.2em 0.2em 0.4em;
    font-size: 60px;
    font-weight: 900;
    margin: 0px;
    padding: 40px;
}

#time {
    color: #516cff;
    font-size: 30px;
    font-weight: 900;
    font-family: 'support';
    float: left;
    padding-left: 90px;
}

#chance {
    color: darkgreen;
    font-size: 30px;
    font-weight: 900;
    font-family: 'support';
    float: right;
    padding-right: 90px;
    margin-right: 10px;
}

.number {
    color: crimson;
    font-weight: bolder;
}

#img_zone {
    clear: both;
    margin: 0 auto;
    margin-top: 110px;
}

.image {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    border: 6px solid rgb(212, 238, 227);
    margin: 9px;
}

#word_zone {
    margin: 0 auto;
    position: relative;
}

.word {
    background-color: white;
    padding: 10px;
    font-weight: 700;
    font-size: 22px;
    margin: 30px;
    border-radius: 20px;
    border: 6px solid rgb(212, 238, 227);
    width: 200px;
    position: relative;
}

.word:hover,
.image:hover {
    transition: 0.7s;
    transform: scale(1.05);
}

#word_1 {
    position: absolute;
    left: 50%;
    margin-left: -262px;
    top: 30px;
}  
 
#word_2 {
    position: absolute;
    left: 50%;
    top: 30px;
}

#word_3 {
    position: absolute;
    left: 50%;
    margin-left: -262px;
    top: 110px;
}

#word_4 {
    position: absolute;
    left: 50%;
    top: 110px;
}

.swal-overlay {
  background-color: rgba(43, 165, 137, 0.45);
}
.swal-text {
  background-color: #FEFAE3;
  padding: 17px;
  border: 1px solid #F0E1A1;
  display: block;
  font-weight: 600;
  font-size: 18px;
  margin: 22px;
  text-align: center;
  color: #61534e;
}
#game_zone {
    margin: auto;
    background-color: rgb(247,198,198,0.5);
    width: 97vw;
    border-radius: 25px;
    border: 6px solid #FFF;
    text-align: center;
    height: 75vh;
}
