@font-face {
    font-family: 'support';
    src: url(../font/support.ttf);
}

body {
    margin: 0px auto;
    padding: 0px;
    background-color: #FFF;
    text-align: center;
}

#stages {
    text-align: center;
    margin: 30px 30px auto;
    background-color: rgba(0,0,0, 0.4);
    border-radius: 40px;
    
}

#stages .each_level {
    display: inline-block;
    vertical-align: top;
    background-color: white;
    margin:15px;
    border: 10px;
    border-radius: 30px;
    width: 200px;
    height: 110px;
}

h1 {
    color: black;
    font-size: 120px;
    margin: 0px; 
    padding: 30px 0px 0px 0px;
}

h2 {
    color: red;
    font-weight: 600;
    font-size: 40px;
    margin: 10px 0px 20px 0px;; 
}


#earth {
    position: absolute;
    top: 77%;
    left: 48%;
    margin-left: -450px;
    width:140px;
    height:140px;
}
#earth:hover{
    transition: .7s;
    transform: scale(1.2); 
}

#question {
    position: absolute;
    top: 8%;
    left: 50%;
    margin-left: 330px;
    width:130px;
    height:130px;
}
#question:hover{
    transition: .7s;
    transform: scale(1.2); 
}

#content {
    position: relative;
    margin: 0px auto;
    text-align: center;
    width: 1024px;
    height: 768px;
/*    background-image: url('../material/mountain.png');*/
    background-image: url('../material/playground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
