@font-face {
    font-family: 'support';
    src: url(../font/support.ttf);
}

body,a,img{
    padding:0;
    margin:0;
}

body {
    margin: 0px auto;
    background-color: #FFF;
    text-align: center;
    cursor: pointer;
}

#content {
    position: relative;
    margin: 0px auto;
    text-align: center;
    width: 1024px;
    height: 768px;
    background-color: #ffefde;
    cursor: pointer;
}

#progress {
    margin: 0px auto;
    padding: 0px;
    color: black;
    font-weight: 600;
    font-size: 23px;
    background-color: #DDD;
    height:24px;
    width:100%;
}

#progress_bar {
    text-align: left;
    margin: 0px;
    padding: 0px;
    background-color: #5B9EFF;
    height:24px;
    width:0%;
    transition: 1.5s;
}
.title{
    padding-top: 40px;
}

#title_en {
    color: #9c453d;
    font-size: 60px;
    font-weight: 700;
    text-shadow: #ffe5e5 0.1em 0.1em 0.2em;
}

.word {
    border: 5px solid grey;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
    height: 60px;
    line-height:60px;
    width: 300px;
    font-size: 40px;
    font-weight: 800;
    color: black;
    text-align: center;
    display: inline-block;
    box-shadow:3px 3px 12px black;
}


#user_zone {
    position: relative;
    background-color: #eff2f7;
    max-width: 83%;
    margin: 20px auto;
    height: 400px;
    margin-top: 50px;
    border-radius: 20px;
    border: 8px solid gray;
    display: block;
    cursor: pointer;
}

#click_zone {
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
}

#done,
#next_btn {
    width: 125px;
    cursor: pointer;
}

/*色盤*/
#palette {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #eff2f7;
    margin: auto;
    padding: 10px;
    display: none;
}
.option {
    width: 20px;
    height: 20px;
    border: 4px solid white;
    display:inline-flex;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    align-items:center;
    justify-content:space-around;
}
.active {
    border: 4px solid grey;
}
.active:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

/*筆觸寬度*/
#line {
    position: absolute;
    top: 230px;
    left: 10px;
    background-color: #eff2f7;
    margin: auto;
    padding: 10px;
    display: none;
}
.lw {
    width: 20px;
    height: 20px;
    border: 4px solid white;
    display:inline-flex;
    padding: 10px;
    border-radius: 5px;
    align-items:center;
    justify-content:space-around;
}


#canvas_draw {
    position: absolute;
    top: 24px;
    right: 25px;
    background-image: url();
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    background-color: white;
    border: 2px solid gray;
    cursor: pointer;
    margin: auto;
}


#btn_zone{
    position: absolute;
    top: 30px;
    left: 320px;
    background-color: #eff2f7;
    margin: auto;
    display: none;
}
#undo,#redo,#clear {
    font-size: 25px;
    padding: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas_position {
    display: none;
}


.picture {
    width: 214px;
    height: 214px;
    border-radius: 20px;
    border: 3px solid grey;
    box-shadow:3px 3px 10px black;
    overflow:hidden;
    background-color: white;
    
    /*以下三個屬性為文字或圖像水平、垂直置中的方法中最沒問題的寫法。*/
    display:none;
    align-items:center;
    justify-content:center;
}

.image{
    max-width: 214px;
    max-height: 214px;
}

#picture_pick_0 {
    position: absolute;
    top: 90px;
    left: 60px;
}
#picture_pick_1 {
    position: absolute;
    top: 90px;
    left: 317px;
}
#picture_pick_2 {
    position: absolute;
    top: 90px;
    right: 60px;
    
}
