@font-face {
    font-family: 'support';
    src: url(../font/support.ttf);
}

body,a,img{
    padding:0;
    margin:0;
}

body {
    margin: 0px auto;
    background-color: #FFF;
    text-align: center;
    cursor: pointer;
}

#content {
    position: relative;
    margin: 0px auto;
    text-align: center;
    width: 1024px;
    height: 768px;
    background-color: #ffefde;
    cursor: pointer;
    background-image: url(../material/sea.png);
    -moz-background-size:contain;
    -webkit-background-size:contain;
    -o-background-size:contain;
    background-size:contain;
}