@font-face {
    font-family: 'support';
    src: url(../font/support.ttf);
}

body,a,img{
    padding:0;
    margin:0;
}

body {
    margin: 0px auto;
    background-color: #FFF;
    text-align: center;
    cursor: pointer;
}

#content {
    position: relative;
    margin: 0px auto;
    text-align: center;
    width: 1024px;
    height: 768px;
    background-color: #ffefde;
    cursor: pointer;
    background-image: url(../material/sea.png);
    -moz-background-size:contain;
    -webkit-background-size:contain;
    -o-background-size:contain;
    background-size:contain;
}
#information {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    width: 400px;
    height: 130px;
    padding: 5px;
    border: 10px solid #fffce4;
    border-radius: 20px;
    background-color: #ffe89d;
    
}

#vi_icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 140px;
    display:inline-block;
    margin: 0px;
}

#data {
    position: absolute;
    top: 12px;
    left: 140px;
    width: 210px;
    text-align: left;
    padding-left: 13px;
    background-color: white;
    border: 2px solid black;    
    margin-left: 10px;
}

.title {
    font-size: 25px;
    font-weight: 900;
    margin-top: 15px;
    margin-bottom: 15px;
}

#world {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 170px;
    padding: 0px;
    margin: 0px;
}

#name {
    font-weight: border;
    color: maroon;
    font-size: 30px;
    margin-left: 10px;
}

#flashcard {
    font-weight: border;
    color: red;
    font-size: 30px;
    margin-left: 10px;
}

#bag {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 170px;
    padding: 0px;
    margin: 0px;
}

.island {
    width: 350px;
}

.island-image {
    width: 200px;
}

#Travel {
    position: absolute;
    top: 450px;
    left: 7px;
    width: auto;
}

#Environments {
    position: absolute;
    top: 350px;
    left: 70px;
    width: auto;
}

#People {
    position: absolute;
    top: 260px;
    left: 190px;
    width: auto;
}

#Activities {
    position: absolute;
    top: 200px;
    left: 410px;
    width: auto;
}

#FoodDrink {
    position: absolute;
    top: 260px;
    right: 190px;
    width: auto;
}

#Work {
    position: absolute;
    top: 350px;
    right: 70px;
    width: auto;
}

#AroundTown {
    position: absolute;
    top: 450px;
    right: 7px;
    width: auto;
}

#ArtTheMedia {
    position: absolute;
    top: 520px;
    left: 180px;
    width: auto;
}

#TechnologyScience {
    position: absolute;
    top: 520px;
    right: 180px;
    width: auto;
}

#Home {
    position: absolute;
    top: 410px;
    left: 260px;
    width: auto;
}

#Health {
    position: absolute;
    top: 410px;
    right: 260px;
    width: auto;
}

#Assortment {
    position: absolute;
    top: 320px;
    left: 410px;
    width: auto;
}

#Animal {
    position: absolute;
    top: 520px;
    left: 420px;
    width: auto;
}

#boat-image {
    position: absolute;
    bottom: 60px;
    left: 300px;
    width: 100px;
}
